#content{
    width: 80%;    
    height: 100%; 
    margin: 0;
    padding: 0; 
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header{
height: 20%;
background-color: greenyellow;
margin-top: -15px;
padding: 0;
}
nav{
height:60%;
background-color: white;
}
footer{
height: 20%;
background-color: greenyellow;
margin: 0;
padding: 0;
margin-top: -15px;
}
#ligacao{
   margin-top: 100px;
   justify-content: center;
   position: relative;
}
li{
  display: inline; 
  list-style-type:none;  
}
a:hover{
    background-color: white;
}
header.hover{
    background-color: gainsboro;
}